<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to the Maryland affiliate of the American College of Nurse Midwives. If you are pregnant, would like to become pregnant, or are looking for a provider for well­-woman care in Maryland, please browse our site to see if a certified nurse­-midwife is right for you.">

    <title>{% if page.title %}{{ page.title }} - {% endif %} Maryland Affiliate - American College of Nurse-Midwives</title>

    <meta property="og:url" content="http://maryland.midwife.org">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://maryland.midwife.org/_assets/images/pink-baby.jpg">
    <meta property="og:description" content="Welcome to the Maryland affiliate of the American College of Nurse Midwives. If you are pregnant, would like to become pregnant, or are looking for a provider for well­-woman care in Maryland, please browse our site to see if a certified nurse­-midwife is right for you."
    <meta property="og:site_name" content="Maryland Affiliate - American College of Nurse-Midwives">
    <meta property="og:locale" content="en_US">
    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
    <!-- Open Graph: http://ogp.me/ -->

    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="_assets/css/main.min.css" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- FB Widget -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End FB Widget -->
    <header>
      <div class="container">
        <a class="logo" href="index.html">
          <img src="_assets/images/acnm-md-logo-long.png" alt="American College of Nurse Midwives logo">
        </a>
        <div class="nav nav--utility">
          <ul class="nav__list">
            <a class="nav__link" href="contact-us.html">
              <li class="nav__item {% if page.url == '/contact-us/' %}active-page{% endif %}">
                Contact Us
              </li>
            </a>
            <a class="nav__link" href="frequently-asked-questions.html">
              <li class="nav__item {% if page.url == '/frequently-asked-questions/' %}active-page{% endif %}">
                FAQs
              </li>
            </a>
          </ul>
        </div>
      </div>
    </header>

    <nav class="nav nav--primary">
      <div class="container">
        <ul class="nav__list">
          <a class="nav__link" href="about-midwifery.html">
            <li class="nav__item {% if page.url == '/about-midwifery/' %}active-page{% endif %}">
              About Midwifery
            </li>
          </a>
          <a class="nav__link" href="find-a-midwife.html">
            <li class="nav__item {% if page.url == '/find-a-midwife/' %}active-page{% endif %}">
              Find a Midwife
            </li>
          </a>
          <a class="nav__link" href="resources.html">
            <li class="nav__item {% if page.url == '/resources/' %}active-page{% endif %}">
              Resources
            </li>
          </a>
          <a class="nav__link" href="for-midwives.html">
            <li class="nav__item {% if page.url == '/for-midwives/' or page.url == '/provider-resources/' %}active-page{% endif %}">
              For Midwives
            </li>
          </a>
        </ul>
      </div>
    </nav>

    <main>

      <div class="container">

        <h1>{{ page.title }}</h1>