        <aside class="aside">
          <section>
            <h2>MD Affiliate Meetings</h2>

            <p><small>*Subject to change. Please find us on our <a href="https://www.facebook.com/Maryland-Affiliate-of-ACNM-122850281105291/" target="_blank">Facebook</a> page to confirm dates, times, and locations.</small></p>

            <p><strong>Maryland ACNM Affiliate<br>
            Spring Meeting</strong><br>
            Thursday, April 27th, 2017<br>
            6-8:30pm<br>
            Hood College<br>
            401 Rosemont Ave<br>
            Frederick, MD 21701<br>
            Campus building: Whitaker Commons<br>
            Parking: adjacent to building or on Rosemont Ave.</p>
          </section>

          <section>
            <h2>Become a member! Join ACNM</h2>
            <p><a href="http://www.midwife.org/Membership">Learn more about ACNM membership</a></p>
          </section>

          <section>
            <h2>Resources for Providers</h2>
            <p><a href="provider-resources.html">View our list of resources</a></p>
          </section>
        </aside>